<h1>Listing invoices</h1>

<% if !@unpaid_invoices.empty? %>
<%= render :partial => 'list_invoices',
     :locals => { :caption => 'Unpaid Invoices',
     :invoices => @unpaid_invoices } %>
<% end -%>

<% if !@paid_invoices.empty? %>
<%= render :partial => 'list_invoices',
      :locals => { :caption => 'Paid Invoices',
      :invoices => @paid_invoices } %>
<% end -%>					 

<br />

<%= link_to 'New Invoice', new_invoice_path %>
