      <tr>
	<td>
	  <%= f.collection_select :therapy_id, Therapy.order("code").all,
	  :id, :select_name, { :prompt => 'Therapy type' }, :autofocus => true %>
	</td>
	<td class="qty">
	  <%= f.text_field :quantity, :size => 4 %>
	</td>
	<td class="price">
	  <%= f.text_field :unit_price, :size => 8 %>
	</td>
	<td colspan="3">
	  <%= f.submit %>
	</td>
      </tr>
