<table class="auths">
  <caption>Auths</caption>
  <thead>
    <tr>
      <th>Patient</th>
      <th class="qty">Allowed sessions</th>
      <th class="qty">Used sessions</th>
      <th class="price">Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render auths %>
    <tr class='totals'>
      <td class='totals'>Totals</td>
      <td class='totals qty'><%= auths.map(&:max_sessions).sum %></td>
      <td class='totals qty'><%= auths.map(&:maximum_quantity).sum %></td>
      <td class="totals price"><%= number_to_currency auths.map(&:total).sum %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
