<h1>Listing auths</h1>

<% if !@auths.empty? %>
  <%= render :partial => 'list_auths',
        :locals => { :caption => 'Auths'
                     :auths => @auths } %>
<% end %>
		     
<%= link_to 'New Auth', new_auth_path %>
