<h1>Listing payments</h1>

<% if !@payments.empty? %>
  <%= render :partial => 'list_payments',
        :locals => { :caption => 'Payments',
                     :payments => @payments } %>
<% end %>

<br />

<%= link_to 'New Payment', new_payment_path %>
