/* extend .data */

@import 'constants';

/* std table: auto width based on columns, last column contains action links */
.stdTable{padding:0 20px 20px 20px;}
.stdTable table{width:auto; table-layout:auto;border:1px solid $background;}
.stdTable th, .stdTable td{border:1px solid $background;}
.stdTable thead tr{background-color: lighten($background, 50%);}
.stdTable th{color: #000; font-weight:bold}
.stdTable img{display:inline-block; vertical-align: middle;}
